%td{class: node.gender, colspan: colspan, rowspan: 2, style: 'border: 1px solid grey; white-space: nowrap; padding: 3px;'}
  = link_to "/family/show/#{node.id}", style: 'display: block; width: 100%; text-decoration: none; color: black;' do
    = render partial: 'node_content', locals: {node: node}
