%table{cellpadding: 0, cellspacing: 0}
  %tr{style: 'height: 33px;'}
    %td{style: (has_parents ? 'border-right: 1px solid grey;' : '')}
      &nbsp;
    %td{colspan: partners.count * 2 + (siblings.count > 0 ? 3 : 1), style: (siblings.count > 0 ? 'border-top: 1px solid grey;' : '') }
      &nbsp;
    - siblings[0..-2].each do
      %td{colspan: 3, style: 'border-left: 1px solid grey; border-top: 1px solid grey;'}
        &nbsp;
    - if siblings.count > 0
      %td{style: 'border-left: 1px solid grey;'}
        &nbsp;
  %tr{style: 'height: 33px;'}
    = render partial: 'node', locals: {node: Node.new(focus), colspan: 2}
    - partners.each do |partner|
      %td{style: 'border-bottom: 1px solid grey; width: 60px;'}
        &nbsp;
      = render partial: 'node', locals: {node: Node.new(partner), colspan: 1}
    - siblings.each do |sibling|
      %td{rowspan: 2}
        &nbsp;
      = render partial: 'node', locals: {node: Node.new(sibling), colspan: 2}
  %tr{style: 'height: 33px;'}
    - partners.each do
      %td
        &nbsp;
    - siblings.each do
      %td
        &nbsp;
  %tr{style: 'height: 33px;'}
    %td{colspan: (2 + partners.count * 2 + siblings.count * 3), style: 'width: 30px;'}
      &nbsp;
