#wrapper
  - if @family.parents.count > 0
    .parents-line{style: 'width: 100%;'}
      .parents-wrapper{style: 'position: relative; left: 50%; float: left;'}
        .parents{style: 'float: left; position: relative; left: -50%; display: flex;'}
          = render partial: 'parents', locals: {parents: @family.parents}
        %div{style: 'clear: both'}
      %div{style: 'clear: both'}
  .partners-siblings-line{style: 'width: 100%;'}
    .partners-siblings-wrapper{style: 'position: relative; left: 50%; float: left;'}
      .partners-siblings{style: 'float: left; position: relative; left: -50%'}
        = render partial: 'partners_siblings', locals: {focus: @family.focus, partners: @family.partners, siblings: @family.siblings, has_parents: @family.parents.count > 0}
      %div{style: 'clear: both'}
    %div{style: 'clear: both'}

  .children-line{style: 'width: 100%;'}
    .children-wrapper{style: 'position: relative; left: 50%; float: left;'}
      .children{style: 'float: left; background-color: #bfffff; position: relative; left: -50%'}
        - @family.children.each do |child_hash|
          = render partial: 'node_div', locals: {node: Node.new(child_hash)}
        %div{style: 'clear: both'}
      %div{style: 'clear: both'}
